<ion-view>

  <ion-tabs class="tabs-icon-top tabs-background-royal">
    <ion-tab icon-on="ion-ios-home-outline" icon-off="ion-ios-home" title="Accueil" href="#/root/home">
      <ion-nav-view name="homeView"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-social-instagram-outline" icon-off="ion-social-instagram" title="Ajout" href="#/root/ajout">
      <ion-nav-view name="ajoutView"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-ios-person-outline" icon-off="ion-ios-person" title="Profile" href="#/root/profile">
      <ion-nav-view name="profileView"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
